<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.egcoding.mimalabo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">

        </activity>


        <activity android:name=".HelpActivity" />
        <activity
            android:name=".DetailsActivities.Activity_urban_detail"
            android:label="@string/Urban_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlacesActivity" />
        </activity>
        <activity
            android:name=".DetailsActivities.CultureDetailActivity"
            android:label="@string/Tribe_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlacesActivity" />
        </activity>
        <activity
            android:name=".DetailsActivities.Activity_restaurant_detail"
            android:label="@string/res_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlacesActivity" />
        </activity>
        <activity
            android:name=".DetailsActivities.Activity_places_detail"
            android:label="@string/places_details">
            <tools:validation testUrl="https://www.guinealia.com/place/buddha-nights-malabo/" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlacesActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.guinealia.com"
                    android:pathPattern="/place/buddha-nights-malabo/" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivities.HotelDetailActivity"
            android:label="@string/hotel_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlacesActivity" />
        </activity>
        <activity
            android:name=".PlacesActivity"
            android:label="@string/know_malabo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".EgHistoryActivity"
            android:label="@string/eg_tab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EgHistoryActivity" />
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:label="@string/malabo_tab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HistoryActivity" />
        </activity>

        <activity
            android:name=".FeedbackActivity"
            android:label="Give us a FeedBack">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlacesActivity" />
        </activity>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>